@model Final.Models.tabel_peminjaman

@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <h2>Edit</h2>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>tabel_peminjaman</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.id_peminjaman)

                    <div class="form-group">
                        @Html.LabelFor(model => model.id_peminjam, "id_peminjam", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("id_peminjam", String.Empty)
                            @Html.ValidationMessageFor(model => model.id_peminjam)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.id_pegawai, "id_pegawai", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("id_pegawai", String.Empty)
                            @Html.ValidationMessageFor(model => model.id_pegawai)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.id_buku, "id_buku", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("id_buku", String.Empty)
                            @Html.ValidationMessageFor(model => model.id_buku)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.tanggal_peminjaman, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.tanggal_peminjaman, new { @type = "date", @class = "form-control datepicker" })
                            @Html.ValidationMessageFor(model => model.tanggal_peminjaman, "", new { @class = "text-danger" })


                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.tanggal_harus_kembali, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.tanggal_harus_kembali, new { @type = "date", @class = "form-control datepicker" })
                            @Html.ValidationMessageFor(model => model.tanggal_harus_kembali, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                           @Html.TextBoxFor(model => model.status, new { @Value = 0, disabled = "disabled", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.status)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        </div>
    </div>
</div>
